<style>
  div.gallery { margin: 5px; border: 1px solid #ccc; float: left; width: 180px;
  } div.gallery:hover { border: 1px solid #777; } div.gallery img { width: 100%;
  height: auto; } div.desc { padding: 15px; text-align: center; } .icon { width:
  24 !important; height: 24 !important; }
</style>

{{#each recipes}}
  <div class="gallery">
    <a target="_blank" href="/recipe/{{id}}">
      <img src="{{imagePath}}"  width="200" height="100" />
    </a>
    <div class="desc">
      {{name}}
      <a href="/recipe/delete/{{id}}">
        <img class="icon" src="/images/delete_icon.png" />
      </a>
      <a href="/recipe/update/{{id}}">
        <img class="icon" src="/images/edit_icon.png" />
      </a>
    </div>
  </div>

{{/each}}

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}