<img src="{{imagePath}}" width="600" height="400">
<br/>
<ul class="recipe">
    <h2>{{name}}</h2>
    <p>{{origin}} </p>
    <p>{{numServings}}</p>
    <p>{{cookTimeMinutes}}</p>
    <p>{{calorie}}</p>
    <br/>
    <h4>Ingredients</h4>
    <br/>
    <p>{{ingredients}}</p>
    <h4>Instructions</h4>
    <br/>
    <p>{{instructions}}</p>
    

</ul>